@import
url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    background-color: black;
    background-image: url("https://media1.tenor.com/images/3c36c04cf11c44121b2eab10b4d6128c/tenor.gif?itemid=16432213");
    background-size: cover;
    background-position: center;
    font-family: 'Press Start 2P',
    cursive;


}

.jumbotron {
    background-color: transparent;
}

.display-4 {
    color: white;
}

 canvas {
    background-color: transparent;
} 