@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    background-color: black;
    /* background-image: url("https://wallpaperaccess.com/full/1253279.jpg"); */
    background-size: cover;
    background-position: center;
    font-family: 'Press Start 2P',
        cursive;
    color: white;

    /* avoid scrolling */
    /* overflow: hidden; */
    height: 100vh;


}

i {
    font-size: 20px;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron hr {
    color: white
}

.jumbotron a {
    text-decoration: none;
    color: pink;
}

.display-4 {
    color: white;
}

canvas {
    background-color: transparent;
    border-radius: 15px;
    border: 20px solid grey;
    border-bottom: 40px solid grey;
    
}

.btn {
    font-size: 0.8rem;
}

#left-side, #right-side {
    padding-bottom: 140px;
}